#wrapper {
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Montserrat';
    background-color: #f5f7fa; 
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f7fa;
}

body {
    background-color: #f5f7fa;
}


* {
    margin: 0;
    padding: 0;
}