$breakpoints: (
	'xs-phone': 320px,
	'phone': 480px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1280px
);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

@import 'variables';
@import 'include-media';
@import 'common';
@import 'normalize';
@import 'reset';
@import 'helpers';



.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1300px;
}

.grid {
	background-color: $white;
	max-width: 1243px;
	margin: 0 -15px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	@include media ('>=860px'){
		display: flex;
		flex-wrap: wrap;
	}
}

//******SECTOR-LEFT************//


.sector-left {
	padding: 0 15px;
	background-color: #1e2939;
	@include media ('<1025px'){
		max-width: 50%;
	}
	@include media ('<=860px'){
		max-width: 100%;
	}
	@include media ('>1024px'){
		max-width: 30%;
		flex: 0 0 30%;
	}
}

.sector-left a img {
	width: 100%;
    height: 100%;
	background-size: cover;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	@include media ('<480px'){
		width: 100%;
	}
}

.main-container {
	color: $white;
	padding: 40px;
	@include media ('<851px'){
		font-size: 12px;
		padding: 20px;
	}
	@include media ('<640px'){
		font-size: 20px;
		padding: 20px;
	}
	@include media ('<480px'){
		display: flex;
		font-size: 10px;
	}
}

.tech-skill-container,.soft-skill-container {
	@include media ('<480px'){
		margin-left: 15px;
	}
}

.contacts-container {
	padding-bottom: 47px;
	div {
		display: flex;
		align-items: center;
	}
}

.contacts-container a {
	margin-left: 10px;
	color: $white;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 0.42px;
	text-decoration: none;
	transition: text-decoration 3s; 
}

.contacts-container a:hover {
	text-decoration: underline;
	color: #ff6b08;
}

.contacts-container h3 {
	font-size: 22px;
    font-weight: 700;
    line-height: 1.7;
    margin-bottom: 10px;
}


.tech-skill-container,
.soft-skill-container  {
	padding-bottom: 15px;
    padding-top: 15px;
    margin: 15px 0 15px;
	h3 {
		font-size: 22px;
		font-weight: 700;
		line-height: 1;
	}
}


.tech-skill-container ul,
.soft-skill-container ul {
	padding: 15px;
}

.tech-skill-container ul li,
.soft-skill-container ul li {
	padding-bottom: 5px;
	color: $white;
}




.soft-skill-container ul li span,
.tech-skill-container ul li span {
	transition: 0.3s;
	cursor: pointer;
	position: relative;
	
}

.soft-skill-container ul li span:hover:after,
.soft-skill-container ul li span:focus:after,
.tech-skill-container ul li span:hover:after,
.tech-skill-container ul li span:focus:after {
	width: 100%;
}

.soft-skill-container ul li span:after,
.tech-skill-container ul li span:after {
	content: "";
	position: absolute;
	bottom: -4px;
	left: 0;
    width: 0;
    height: 0.2em;
	background-color: #ff6b08;
	transition: width 1.4s;
}


.soft-skill-container ul li::marker,
.tech-skill-container ul li::marker {
	transition: .4s;
}


.soft-skill-container ul li::marker,
.tech-skill-container ul li::marker{
	color: $white;
}


.soft-skill-container ul li:hover::marker,
.tech-skill-container ul li:hover::marker {
	color: #ff6b08;
}


//******************//

//******SECTOR-RIGHT************//

.sector-right {
	padding: 0 15px;
	padding-bottom: 70px;
	@include media ('<1025px'){
		max-width: 50%;
	}
	@include media ('>1024px'){
		max-width: 70%;
		flex: 0 0 70%;
	}
	@include media ('<860px'){
		max-width: 100%;
	}
}


.sector-right-container {
	max-width: 800px;
	margin: 0 0 0 auto;
	padding-top: 50px;
	@include media ('<851px'){
		padding: 20px;
		font-size: 12px;
	}
	@include media ('<640px'){
		width: 100%;
	}
}

.about-me h2 {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 1px;
}

.about-me h1 {
	color: #000000;
	font-size: 35px;
	font-weight: 700;
	line-height: 1.7;
	margin: 0;
	padding-bottom: 10px;
}

.about-me p {
	max-width: 414px;
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 0.42px;
	padding-bottom: 50px;
}

// EDUCATION //


.education {
	padding-bottom: 20px;
	font-size: 14px;
	.col {
		padding-bottom: 20px;
	}
}



.period {
	margin-bottom: 10px;
	+ ul li {
		@extend %listreset;
		position: relative;
		padding-left: 25px;
		&:after {
			content: "\2014";
			position: absolute;
			// background-color: url('/assets/image/planetaznaniy.png');
			width: 1em;
			height: 1em;
			color: #ff6b08;
			height: 5px;
			background-position: center;
			background-repeat: no-repeat;
			left: 0;
		}
	}
}



.education h3 {
	color: #000000;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.7;
}


.education h4 {
	color: $gray;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 0.48px;
}


.education h5 {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 0.42px;
}


.education h6 {
	color: $gray;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 0.48px;
	margin-bottom: 20px;
}

//******************//

// WORK EXPIRIENCE //

.exp-container h3 {
	color: #000000;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.7;
	padding-bottom: 20px;	
}

.comp-info {
	display: flex;
}

.comp h4 {
	text-transform: capitalize;
}


.comp-logo {
	align-items: center;
	display: flex;
	padding: 0 0px 10px 0;
	width: 10em;
	a {
		display: flex;
		transition: all 1s ease-in-out;
	}
	a:hover {
		opacity: 0.3;
		width: 100%;
		height: 100%;
    	background-size: 100% auto;
		// background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
	}
}


.exp-list {
	>.comp {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
		&:nth-child(3){
			h4 {
				color: blue;
				text-transform: capitalize;
			}
			img {
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 8em;
			}
		}
		&:nth-child(2){
			h4 {
				color: red;
				text-transform: capitalize;
			}
			img {
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				width: 10em;
			}
		}
	}
}


.comp h4 {
	color: #000000;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 0.48px;
}

.comp span {
	color: #a8a8a8;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 0.36px;
}


.comp {
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 0.42px;
}

//******************//


// PROJECTS //

.project-container {
	padding-bottom: 35px;
	ul li {
		@extend %listreset;
		font-weight: 400;
		margin-bottom: 30px;
		@extend %listreset;
	}
}

.project-container h3 {
	color: #000000;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.7;
}


ul li span {
	padding: 2px;
	font-weight: 300;
}



ul li a {
	color: $white;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    max-width: 100%;
	text-align: center;
	border-radius: 20px;
	transition: 0.5s;
    background-size: 200% auto;
	background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
}



ul li a:hover {
	background-position: right center;
}

.project-container {
	padding-bottom: 35px;
}

.project-container h3 {
	color: #000000;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.7;
	padding-bottom: 20px;
}
//******************//